<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img class="cardSize" src="/assets/images/portada/aplicacion.jpg">
            <span class="card-title">Gestión</span>
          </div>
          <div class="card-content">
            <p>«Nadie debería ser nombrado para una posición directiva si su visión se enfoca sobre las debilidades,
               en vez de sobre las fortalezas de las personas». Peter Drucker</p>
          </div>
          <div class="card-action">
            <a href="#">Más Información...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img class="cardSize" src="/assets/images/portada/manage.png">
              <span class="card-title">Resultados</span>
            </div>
            <div class="card-content">
              <p>Los reportes son una herramienta poderosa en la toma de decisiones.
                Si quieres resultados distintos, no hagas siempre lo mismo (A. Einstein).</p>
            </div>
            <div class="card-action">
              <a href="#">Más Información...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-image">
                <img class="cardSize" src="/assets/images/portada/workers.jpg">
                <span class="card-title">Eficiencia</span>
              </div>
              <div class="card-content">
                <p>Puedes consultar y administrar la información de tus empleados de una manera muy práctica y sencilla.
                  Guardamos la información que es el insumo para el análisis y el progreso de tu empresa.</p>
              </div>
              <div class="card-action">
                <a href="#">Más Información...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <img class="cardSize" src="/assets/images/portada/prueba.jpg">
                  <span class="card-title">Trabajo en equipo</span>
                </div>
                <div class="card-content">
                  <p>El trabajo en equipo es la clave para el éxito en el quehacer de tu empresa, asegúrate que tus 
                    empleados sean idóneos y mantén su información actualizada.</p>
                </div>
                <div class="card-action">
                  <a href="#">Más Información...</a>
                </div>
              </div>
            </div>
          </div>
        </div>